@font-face {
    font-family: "And Black";
    src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/and_black.woff") format('woff'), url("/fonts/and_black.ttf") format('truetype');
}
h1 {
    font-family: 'And Black';
    color: #00796B;
    margin: 0;
    padding: 0;
}
body {
    margin: 30px;
}
