/** --------------------------------------------------------------------------------------------------------------
  This web app uses the application cache - any change requires the passoff.appcache file to be modified.  
    Modify the timestamp comment in the 2nd line to force browsers to refresh  
  ----------------------------------------------------------------------------------------------------------------
*/

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
.required-field {
    color: #C08080;
}
.extra-vertical-padding {
    padding-top: 18px;
    padding-bottom: 18px;
}
.toast {
    z-index: 2;
    opacity: 0.8;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 14px;
    background-color: #323232;
    color: #fbfbfb;
    margin-left: -20px;
    margin-bottom: 0px;
    width: 120%;
    min-height: 22px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 24px;
    border-radius: 4px;
    -webkit-animation: fadeinout 6s linear forwards;
    -moz-animation: fadeinout 6s linear forwards;
    animation: fadeinout 6s linear forwards;
}
@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 0.9;
    }
}
@-moz-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 0.9;
    }
}
@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 0.9;
    }
}
.fade-in {
    -webkit-animation: fadein 0.5s linear forwards;
    -moz-animation: fadein 0.5s linear forwards;
    animation: fadein 0.5s linear forwards;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.clipboard-field {
    z-index: -1;
    opacity: 0.1;
    border: none;
    color: white;
    font-size: 1px;
    line-height: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    left: -500px;
}
.icon-upper-right {
    box-sizing: border-box;
    position: absolute;
    right: 16px;
    top: 10px;
}
.header-upper-right,
.close-button-top-right {
    box-sizing: border-box;
    position: absolute;
    right: 16px;
    top: 16px;
    overflow: visible;
}
.close-button-top-right {
    top: 36px;
}
.mdl-button--secondary {
    color: #727272;
    right: 10px;
}
.textfield-full-width {
    width: 100%;
}
.mdl-textfield {
    padding-top: 18px;
    padding-bottom: 18px;
}
.header-circle {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin: 8px 12px 8px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #b6b6b6;
}
.circle-icon {
    left: 7px;
    top: 5px;
    font-size: 30px;
    position: relative;
}
.circle-icon-tall {
    left: 1px;
    top: 6px;
    border-radius: 0px;
    font-size: 30px;
    position: relative;
}
.icon-left {
    box-sizing: border-box;
    position: absolute;
    overflow: visible;
    left: -30px;
}
.password {
    margin-top: 42px;
    margin-bottom: 54px;
    font-size: 26px;
    font-weight: 400;
}
.show-password {
    box-sizing: border-box;
    position: absolute;
    right: -30px;
    overflow: visible;
}
.overflow-x-visible,
.mdl-layout__container {
    overflow: visible !important;
}
.mdl-card {
    width: 512px;
    min-height: 150px;
    z-index: 0;
}
.mdl-card.primary-card {
    z-index: 1;
}
.mdl-card h5 {
    font-family: "Muli";
    margin-left: 75px;
    margin-right: 20px;
    top: 0px;
    position: absolute;
}
.mdl-card h4 {
    font-family: "Muli";
    margin-left: 75px;
    margin-right: 20px;
    top: -8px;
    position: absolute;
}
.mdl-card {
    height: auto;
    display: flex;
    flex-direction: column;
}
.mdl-card > * {
    height: auto;
}
.mdl-card .mdl-card__supporting-text {
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
    width: calc(100% - 80px);
    overflow: visible;
}
.mdl-card__actions {
    margin: 0;
    padding: 0px;
    color: inherit;
}
.mdl-layout__content {
    padding-bottom: 0px;
}
.mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 24px;
}
section.section--center {
    max-width: 860px;
}
.mdl-menu__container {
    z-index: 99;
}
div .load-ball {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #ccc;
    top: 75px;
    border-radius: 50%;
}
div .load-ball:nth-child(1) {
    background-color: #ff4081;
    animation: move 2s infinite cubic-bezier(.2, .64, .81, .23);
}
div .load-ball:nth-child(2) {
    background-color: #ff4081;
    animation: move 2s 150ms infinite cubic-bezier(.2, .64, .81, .23);
}
div .load-ball:nth-child(3) {
    background-color: #ff4081;
    animation: move 2s 300ms infinite cubic-bezier(.2, .64, .81, .23);
}
div .load-ball:nth-child(4) {
    background-color: #ff4081;
    animation: move 2s 450ms infinite cubic-bezier(.2, .64, .81, .23);
}
@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
